__pycache__/
*.py[cod]

out/
checkpoints/

dataset/*
dataset/.*
!dataset/Im_dataset.py
!dataset/README.md

model/__pycache__/
trainer/__pycache__/
notes/

# wandb logs
wandb/

# debug scripts
debug_*.py
